.expand-icon {
    transition: all ease-in-out 0.5s;
}
.expand-icon.rotated {
    transform: rotate(90deg);
}

.MuiListItem-root:hover {
    background-color: rgb(175, 175, 175);
}

.MuiList-root > .MuiCollapse-root {
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
}

.MuiList-root > .MuiListItem-root {
    border-top: rgb(218, 218, 218) solid 1px;
}

.RaSidebar-fixed {
    background-color: rgb(240, 240, 240);;
}